<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="./assets/imgs/logo.svg" id="logo">
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-left (click)="showSearch()">
        <ion-icon name="add"></ion-icon>
        Add Coins
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <span id="colname">Coin Name</span>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear color="light" id="refresh" (click)="refreshCoins()">
          <ion-icon name="refresh"></ion-icon>
           Refresh
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="coins">
    <ion-item-sliding *ngFor="let coin of objectKeys(coins); let i=index" (ionSwipe)="removeCoin(coin)" (ionDrag)="ondrag()">
      <ion-item no-lines (click)="coinDetails(coin, i)">
        {{coin}}
        <ion-note item-end color="bluetxt">
          {{coins[coin]['USD']|currency:'USD':true}}
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button ion-button expandable (click)="removeCoin(coin)" color="danger">
          <ion-icon name="trash"></ion-icon>
          DELETE
        </button>
      </ion-item-options>

      <ion-item class="details" *ngIf="toggleIndex==i" no-lines>
        <ion-grid>
          <ion-row>
            <ion-col>
              <span class="label">Market Cap</span>
              <span class="answer">{{ details.MKTCAP }}</span>
            </ion-col>
            <ion-col>
              <span class="label">Change (24HR)</span>
              <span class="answer">{{ details.CHANGE24HOUR }} ({{ details.CHANGEPCT24HOUR }}%)</span>
            </ion-col>
            <ion-col class="end">
              <span class="label">High (24HR)</span>
              <span class="answer">{{ details.HIGH24HOUR }}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <br>
              <span class="label">Price (30 Days)</span>
              <canvas id="canvas{{i}}"></canvas>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
